venv/
tflite_env/
__pycache__/
*.pyc

runs/
dataset/

*.db
*.db-shm
*.db-wal

.vscode/

.env

build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.lock

android/.gradle/
android/local.properties/

.idea/
**/.idea/

**/.gradle/
**/local.properties

.metadata

backend/uploads/

calibration_image_sample_data_20x128x128x3_float32.npy